
@{
    ViewData["Title"] = "CoravelJob";
    Layout = "~/Views/Shared/_Layout_DisplayAll.cshtml";
}
@section Style{

    <meta name="viewport" content="width=device-width" />
    <script src="~/MYJS/CoravelJob.js"></script>

}

<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">定时设置</li>
        <li>用户管理</li>
        <li>车辆管理</li>
        <li>商品管理</li>
        <li>订单管理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <div class="layui-btn-container">

                <button type="button" class="layui-btn" id="startquartzjob">开启自动定时</button>

                <button type="button" class="layui-btn layui-btn-danger" id="stopquartzjob">停止自动定时</button>

            </div>

        </div>
        <div class="layui-tab-item">内容2</div>
        <div class="layui-tab-item">内容3</div>
        <div class="layui-tab-item">内容4</div>
        <div class="layui-tab-item">内容5</div>
    </div>
</div>

<script>

    var urlstartquartzjob = '@Url.Action("StartCoravelJob", "Coravelforuploadmysql")';

    var urlstopquartzjob = '@Url.Action("StopCoravelJob", "Coravelforuploadmysql")';

</script>

