
@{
    ViewData["Title"] = "DataAnalysis";
    Layout = "~/Views/Shared/_Layout_DisplayAll.cshtml";
}

@section Style{

    <meta name="viewport" content="width=device-width" />

    <script src="~/Highcharts-8.2.2/code/highcharts.js"></script>
    <script src="~/Highcharts-8.2.2/code/highcharts-more.js"></script>
    <script src="~/Highcharts-8.2.2/code/modules/data.js"></script>
    <script src="~/Highcharts-8.2.2/code/modules/exporting.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
    <script src="~/MYJS/ADF0979_DataAnalysis.js"></script>

}
<br />
<br />
<div class="Speedform">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">请选择范围</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="startend" placeholder="开始 到 结束" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">

                <div class="layui-input-inline">
                    <button class="layui-btn" id="SpeedAnalysis">分析</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-collapse">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">速度</h2>
        <div class="layui-colla-content layui-show">


            @*<table id="WatchSpeedDistributionTable" lay-filter="WatchSpeedDistributionTable" lay-even></table>*@
            <div class="layui-fluid">
                <div class="layui-row">
                    <div class="layui-col-md6">
                        <div id="columncontainer" style="width: 100%;height:400px;"></div>


                    </div>
                    <div class="layui-col-md6">
                        <div id="barcontainer" style="width: 100%;height:400px;"></div>


                    </div>

                </div>
                <div class="layui-row">
                    <div class="layui-col-md6">
                        <div id="speedperdaycolumncontainer" style="width: 100%;height:400px;"></div>


                    </div>
                    <div class="layui-col-md6">
                        <div id="speedperhourcolumncontainer" style="width: 100%;height:400px;"></div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="layui-colla-item">
        <h2 class="layui-colla-title">测量轮</h2>
        <div class="layui-colla-content layui-show">
            <div class="layui-fluid">
                <div class="layui-row">

                    <div id="WFTcolumncontainer" style="width: 100%;height:400px;"></div>

                </div>

            </div>
        </div>
    </div>

</div>
<script>

    var urlgetdatetime = '@Url.Action("SpeedAnalysis", "Analysis")';
    var urlgetdatetimeperday = '@Url.Action("SpeedPerDayAnalysis", "Analysis")';
    var urlgetdatetimeperhour = '@Url.Action("SpeedPerHourAnalysis", "Analysis")';
     var urlgetWFTdamage= '@Url.Action("WFTDamageAnalysis", "Analysis")';
</script>
