
@{
    ViewData["Title"] = "RealTime";
}
@*@section Style{

    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>

}*@
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-btn-container">
                <br />
                <button class="layui-btn" id="loginfo">错误日志<span class="layui-badge layui-bg-red" id="warninginfo">0</span></button>
            </div>

        </div>

    </div>
</div>
<div class="layui-fluid">
    @*<div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">

            <div id="container" style="width: 400px;height:300px;"></div>
        </div>

    </div>*@

    <div class="layui-row">
        <div class="layui-col-md6">
            <div id="WheelAccXcontainer" style="width: 600px;height:300px;"></div>


        </div>
        <div class="layui-col-md6">
            <div id="WheelAccYcontainer" style="width: 600px;height:300px;"></div>


        </div>
        <div class="layui-row">

            <div class="layui-col-md6">
                <div id="WheelAccZcontainer" style="width: 600px;height:300px;"></div>


            </div>

            <div class="layui-col-md6">
                <div id="WheelRMFMcontainer" style="width: 600px;height:300px;"></div>


            </div>
        </div>

    </div>

</div>

<script src="~/Highcharts-8.2.2/code/highcharts.js"></script>
<script src="~/Highcharts-8.2.2/code/highcharts-more.js"></script>
<script src="~/Highcharts-8.2.2/code/modules/data.js"></script>
<script src="~/Highcharts-8.2.2/code/modules/boost.js"></script>
@*<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>*@
<script src="~/MYJS/ADF0979_RealTimeACC.js"></script>
<script>
    var urlloginfo = '@Url.Action("LogPopUp", "PopUp")';
    var urlgetdata = '@Url.Action("TimeDomainACCGetData", "Watch")';
</script>


